@model List<EmisTracking.WebApi.Models.ViewModels.ConsumptionViewModel>
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = LangResources.Titles.ConsumptionsIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var isEcologist = (ViewData[Constants.ViewDataConstants.IsEcologist] as bool?).GetValueOrDefault();

    var months = EnumHelper.Months;

    var groupedData = Model
        .Where(r => r.ConsumptionGroup != null)
        .GroupBy(r => r.ConsumptionGroup.Name) // имя группы как название графика
        .ToDictionary(
            g => g.Key,
            g => g.OrderBy(r => r.Year)
                  .ThenBy(r => r.Month)
                  .Select(r => new { x = $"{r.Year}-{r.Month:D2}", y = r.Mass })
                  .ToArray()
        );

    var chartSeries = groupedData.Select(group => new
    {
        name = group.Key,
        data = group.Value
    }).ToArray();

    var categories = Model
        .Select(r => new { r.Year, r.Month })
        .Distinct()
        .OrderBy(x => x.Year)
        .ThenBy(y => y.Month)
        .Select(x => $"{x.Year}-{x.Month:D2}")
        .ToArray();
}

@section Breadcrumb
{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Значения расхода материалов<span>/всё время</span></h5>

            <!-- Line Chart -->
            <div id="reportsChart" style="min-height: 365px;" class="">
            </div>

            <script>
                const series = @Html.Raw(Json.Serialize(chartSeries));
                const categories = @Html.Raw(Json.Serialize(categories));

                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: series,
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#4154f1', '#2eca6a', '#ff771d', '#00bcd4'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'datetime',
                      labels: {
                        format: 'MM/yy',
                      },
                      categories: categories
                    },
                    tooltip: {
                      x: {
                        format: 'MM/yy'
                      },
                    }
                  }).render();
                });
            </script>
        </div>
    </div>
</div>

<a class="btn btn-primary" asp-action="Create" asp-controller="Consumptions">
    <i class="fas fa-plus"></i>
    @LangResources.CreateButtonText
</a>

<table class="table-striped table-bordered" id="mainItemsTable">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">@LangResources.Fields.ConsumptionGroup</th>
            <th scope="col">@LangResources.Fields.Mass</th>
            <th scope="col">@LangResources.Fields.Period</th>

            @if (isAdmin || isEcologist)
            {
                <th scope="col" data-orderable="false" data-searchable="false"></th>
                <th scope="col" data-orderable="false" data-searchable="false"></th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.ConsumptionGroup.Name</td>
                    <td>@item.Mass</td>
                    <td>@months[item.Month] @item.Year</td>

                    @if (isAdmin || isEcologist)
                    {
                        <td>
                            <a class="btn btn-outline-primary"
                               asp-controller="Consumptions" asp-action="Update" asp-route-id="@item.Id"
                               name="@LangResources.UpdateButtonText">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger"
                               asp-controller="Consumptions" asp-action="Delete" asp-route-id="@item.Id"
                               name="@LangResources.DeleteButtonText">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatable");

        var columnWidths = new Queue<string>(new[] { "30%", "30%", "20%" });
        if (isAdmin || isEcologist)
        {
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
        }

        await Html.RenderPartialAsync("_DataTableInitialization", columnWidths);
    }
}