@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@model ConsumptionViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = LangResources.Titles.ConsumptionsIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var months = EnumHelper.Months;
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.ConsumptionsIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<p><strong>@LangResources.Fields.ConsumptionGroup:</strong> @Model.ConsumptionGroup.Name</p>
<p><strong>@LangResources.Fields.Mass:</strong> @Model.Mass</p>
<p><strong>@LangResources.Fields.Period:</strong> @months[Model.Month] @Model.Year</p>

@if (isAdmin)
{
    <a class="btn btn-outline-primary" asp-controller="Consumptions" asp-action="Update" asp-route-id="@Model.Id" name="@LangResources.UpdateButtonText">
        <i class="fas fa-pen"></i> @LangResources.UpdateButtonText
    </a>
    <a class="btn btn-outline-danger" asp-controller="Consumptions" asp-action="Delete" asp-route-id="@Model.Id" name="@LangResources.DeleteButtonText">
        <i class="fas fa-trash"></i> @LangResources.DeleteButtonText
    </a>
    <br />
}
<br />
<a asp-action="Index" class="btn btn-outline-secondary">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnButtonText
</a>