@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@model GrossEmissionViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = LangResources.Titles.GrossEmissionsIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.GrossEmissionsIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<p><strong>@LangResources.Fields.SourceSubstance:</strong> @Model.SourceSubstance.EmissionSourceId</p>
<p><strong>@LangResources.Fields.Methodology:</strong> @Model.Methodology.Name</p>
<p><strong>@LangResources.Fields.Mass:</strong> @Model.Mass kg</p>
<p><strong>@LangResources.Fields.Month:</strong> @Model.Month</p>
<p><strong>@LangResources.Fields.Year:</strong> @Model.Year</p>

@if (isAdmin)
{
    <a class="btn btn-outline-primary" asp-controller="GrossEmissions" asp-action="Update" asp-route-id="@Model.Id" name="@LangResources.UpdateButtonText">
        <i class="fas fa-pen"></i> @LangResources.UpdateButtonText
    </a>
    <a class="btn btn-outline-danger" asp-controller="GrossEmissions" asp-action="Delete" asp-route-id="@Model.Id" name="@LangResources.DeleteButtonText">
        <i class="fas fa-trash"></i> @LangResources.DeleteButtonText
    </a>
    <br />
}
<br />
<a asp-action="Index" class="btn btn-outline-secondary">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnButtonText
</a>