@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@model MethodologyParameterViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();

    var methodology = string.Format(LangResources.Titles.NameTemplate, Model.Methodology.ShortName);

    ViewData["Title"] = $"{LangResources.Fields.MethodologyParameter} {string.Format(LangResources.Titles.NameTemplate, Model.Name)}";

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var parameterTypes = EnumHelper.ParameterTypes;
}

@section Breadcrumb
{
    <li class="breadcrumb-item">
        <a asp-action="Item" asp-controller="Methodologies" asp-route-id="@Model.MethodologyId">@methodology</a>
    </li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<p><strong>@LangResources.Fields.Methodology:</strong> @Model.Methodology.Name</p>
<p><strong>@LangResources.Fields.Name:</strong> @Model.Name</p>
<p><strong>@LangResources.Fields.FormulaName:</strong> @Model.FormulaName</p>
<p><strong>@LangResources.Fields.ParameterType:</strong> @parameterTypes[Model.ParameterType]</p>

@if (isAdmin)
{
    <a class="btn btn-outline-primary" asp-controller="MethodologyParameters" asp-action="Update" asp-route-id="@Model.Id" name="@LangResources.UpdateButtonText">
        <i class="fas fa-pen"></i> @LangResources.UpdateButtonText
    </a>
    <a class="btn btn-outline-danger" asp-controller="MethodologyParameters" asp-action="Delete" asp-route-id="@Model.Id" name="@LangResources.DeleteButtonText">
        <i class="fas fa-trash"></i> @LangResources.DeleteButtonText
    </a>
    <br />
}
<br />

<a asp-action="Item" asp-controller="Methodologies" asp-route-id="@Model.MethodologyId" class="btn btn-outline-secondary">
    <i class="fas fa-arrow-left"></i>
    @methodology
</a>