@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@model TaxRateViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = string.Format(LangResources.Titles.NameTemplate, Model.Amount);
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.TaxRatesIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<h4 class="text-danger">@LangResources.ConfirmDeleteText:</h4>

<p><b><u>@LangResources.Entities.TaxRate</u></b></p>
<span><strong>@LangResources.Fields.HazardClass:</strong> @Model.HazardClass.ToString()</span>
<br />
<span><strong>@LangResources.Fields.TaxRate:</strong> @Model.Amount</span>
<br />
<span><strong>@LangResources.Fields.StartDate:</strong> @Model.StartDate.ToShortDateString()</span>
<br />
<span><strong>@LangResources.Fields.EndDate:</strong> @Model.EndDate.ToShortDateString()</span>
<br />
<br />

<h5 class="text-danger">@LangResources.CannotBeUndoneText</h5>

<a asp-action="Item" asp-route-itemid="@Model.Id" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnButtonText
</a>

<a asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="fas fa-trash"></i>
    @LangResources.ConfirmDeleteButtonText
</a>