@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@model EmissionSourceViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = string.Format(LangResources.Titles.NameTemplate, Model.Name);
    var processCategories = EnumHelper.ProcessCategories;
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.EmissionSourcesIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<h4 class="text-danger">@LangResources.ConfirmDeleteText:</h4>

<p><b><u>@LangResources.Entities.EmissionSource</u></b></p>
<span><strong>@LangResources.Fields.Subdivision:</strong> @Model.Subdivision.Name</span>
<br />
<span><strong>@LangResources.Fields.Name:</strong> @Model.Name</span>
<br />
<span><strong>@LangResources.Fields.ProcessCategory:</strong>
    @(Model.ProcessCategory == null ? string.Empty : processCategories[Model.ProcessCategory.Value])</span>
<br />
<span><strong>@LangResources.Fields.Methodology:</strong> @(Model.Methodology?.Name ?? LangResources.NoValue)</span>
<br />
<br />

<h5 class="text-danger">@LangResources.CannotBeUndoneText</h5>

<a asp-action="Index" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnToListButtonText
</a>
<a asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="fas fa-trash"></i>
    @LangResources.ConfirmDeleteButtonText
</a>