@model List<EmisTracking.WebApi.Models.ViewModels.EmissionSourceViewModel>
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = LangResources.Titles.EmissionSourcesIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var isOperator = (ViewData[Constants.ViewDataConstants.IsOperator] as bool?).GetValueOrDefault();
    var processCategories = EnumHelper.ProcessCategories;
}

@section Breadcrumb
{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<a class="btn btn-primary" asp-action="Create" asp-controller="EmissionSources">
    <i class="fas fa-plus"></i>
    @LangResources.CreateButtonText
</a>

<table class="table-striped table-bordered" id="mainItemsTable">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">@LangResources.Fields.Subdivision</th>
            <th scope="col">@LangResources.Fields.Name</th>
            <th scope="col">@LangResources.Fields.ProcessCategory</th>
            <th scope="col">@LangResources.Fields.Methodology</th>

            @if (isOperator || isAdmin)
            {
                <th scope="col" data-orderable="false" data-searchable="false"></th>
                <th scope="col" data-orderable="false" data-searchable="false"></th>
                <th scope="col" data-orderable="false" data-searchable="false"></th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td><a asp-action="Item" asp-controller="Subdivisions" asp-route-id="@item.Subdivision.Id">@item.Subdivision.Name</a></td>
                    <td><a asp-action="Item" asp-controller="EmissionSources" asp-route-id="@item.Id">@item.Name</a></td>
                    <td>@(processCategories.FirstOrDefault(x => x.Key == item.ProcessCategory).Value ?? LangResources.NoValue)</td>
                    <td>@(item.Methodology?.Name ?? LangResources.NoValue)</td>

                    @if (isOperator || isAdmin)
                    {
                        <td>
                            <a class="btn btn-outline-primary"
                               asp-controller="OperatingTimes" asp-action="GetBySource" asp-route-id="@item.Id">
                                <i class="fas fa-clock"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary"
                               asp-controller="EmissionSources" asp-action="Update" asp-route-id="@item.Id"
                               name="@LangResources.UpdateButtonText">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger"
                               asp-controller="EmissionSources" asp-action="Delete" asp-route-id="@item.Id"
                               name="@LangResources.DeleteButtonText">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatable");

        var columnWidths = new Queue<string>(new[] { "25%", "25%", "25%", "25%" });
        if (isOperator || isAdmin)
        {
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
        }

        await Html.RenderPartialAsync("_DataTableInitialization", columnWidths);
    }
}