@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@model TaxViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = string.Format(LangResources.Titles.NameTemplate, Model.TotalAmount);
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.TaxesIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<h4 class="text-danger">@LangResources.ConfirmDeleteText:</h4>

<p><b><u>@LangResources.Entities.Tax</u></b></p>
<span><strong>@LangResources.Fields.Month:</strong> @Model.Month</span>
<br />
<span><strong>@LangResources.Fields.Year:</strong> @Model.Year</span>
<br />
<span><strong>@LangResources.Fields.HazardClass:</strong> @Model.HazardClass.ToString()</span>
<br />
<span><strong>@LangResources.Fields.TaxAmount:</strong> @Model.TotalAmount</span>
<br />
<span><strong>@LangResources.Fields.IsPaid:</strong> @Model.IsPaid</span>
<br />
<br />

<h5 class="text-danger">@LangResources.CannotBeUndoneText</h5>

<a asp-action="Index" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnToListButtonText
</a>
<a asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="fas fa-trash"></i>
    @LangResources.ConfirmDeleteButtonText
</a>