@model List<EmisTracking.WebApi.Models.ViewModels.ConsumptionGroupViewModel>
@using EmisTracking.Localization
@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = LangResources.Titles.ConsumptionGroupsIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var isEcologist = (ViewData[Constants.ViewDataConstants.IsEcologist] as bool?).GetValueOrDefault();
}

@section Breadcrumb
{
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<a class="btn btn-primary" asp-action="Create" asp-controller="ConsumptionGroups">
    <i class="fas fa-plus"></i>
    @LangResources.CreateButtonText
</a>

<table class="table-striped table-bordered" id="mainItemsTable">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">@LangResources.Fields.Name</th>
            <th scope="col">@LangResources.Fields.Methodology</th>

            @if (isAdmin || isEcologist)
            {
                <th scope="col" data-orderable="false" data-searchable="false"></th>
                <th scope="col" data-orderable="false" data-searchable="false"></th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td><a asp-action="Item" asp-route-id="@item.Id">
                            @item.Name
                    </a></td>
                    <td>@item.Methodology.Name</td>

                    @if (isAdmin || isEcologist)
                    {
                        <td>
                            <a class="btn btn-outline-primary"
                               asp-controller="ConsumptionGroups" asp-action="Update" asp-route-id="@item.Id"
                               name="@LangResources.UpdateButtonText">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger"
                               asp-controller="ConsumptionGroups" asp-action="Delete" asp-route-id="@item.Id"
                               name="@LangResources.DeleteButtonText">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatable");

        var columnWidths = new Queue<string>(new[] { "40%", "40%" });
        if (isAdmin || isEcologist)
        {
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
        }

        await Html.RenderPartialAsync("_DataTableInitialization", columnWidths);
    }
}