@using EmisTracking.WebApi.Models.ViewModels
@using EmisTracking.Localization
@model OperatingTimeViewModel

@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    ViewData["Title"] = string.Format(LangResources.Titles.NameTemplate, Model.EmissionSource.Name);
}

@section Breadcrumb
{
    <li class="breadcrumb-item"><a asp-action="Index">@LangResources.Titles.OperatingTimesIndex</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<h4 class="text-danger">@LangResources.ConfirmDeleteText:</h4>

<p><b><u>@LangResources.Entities.OperatingTime</u></b></p>
<span><strong>@LangResources.Fields.EmissionSource:</strong> @Model.EmissionSource.Name</span>
<br />
<span><strong>@LangResources.Fields.Month:</strong> @Model.Month</span>
<br />
<span><strong>@LangResources.Fields.Year:</strong> @Model.Year</span>
<br />
<span><strong>@LangResources.Fields.Hours:</strong> @Model.Hours</span>
<br />
<br />

<h5 class="text-danger">@LangResources.CannotBeUndoneText</h5>

<a class="btn btn-outline-secondary"
   asp-action="GetBySource"
   asp-controller="OperatingTimes"
   asp-route-id="@Model.EmissionSourceId">
    <i class="fas fa-arrow-left"></i>
    @LangResources.ReturnButtonText
</a>

<a asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger">
    <i class="fas fa-trash"></i>
    @LangResources.ConfirmDeleteButtonText
</a>