@model List<EmisTracking.WebApi.Models.ViewModels.OperatingTimeViewModel>
@using EmisTracking.Localization
@using EmisTracking.WebApp.Helpers
@{
    ViewData[Constants.GenerateBreadcrumb] = new();
    var sourceId = ViewData["SourceId"] as string;
    var sourceInfo = ViewData["SourceInfo"] as string;

    ViewData["Title"] = sourceId != null ?
        string.Format(LangResources.Titles.OperatingTimesBySourceIndex, sourceInfo)
        : LangResources.Titles.OperatingTimesIndex;

    var isAdmin = (ViewData[Constants.ViewDataConstants.IsAdmin] as bool?).GetValueOrDefault();
    var months = EnumHelper.Months;
}

@section Breadcrumb
{
    @if (sourceId != null)
    {

    }
    else
    {
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    }
}

@if (sourceId != null)
{
    <a class="btn btn-primary" asp-action="CreateForEmissionSource" asp-controller="OperatingTimes" asp-route-id="@sourceId">
        <i class="fas fa-plus"></i>
        @LangResources.CreateButtonText
    </a>
}
else
{
    <a class="btn btn-primary" asp-action="Create" asp-controller="OperatingTimes">
        <i class="fas fa-plus"></i>
        @LangResources.CreateButtonText
    </a>
}

<table class="table-striped table-bordered" id="mainItemsTable">
    <thead>
        <tr>
            <th scope="col">№</th>
            @if (sourceId == null)
            {
                <th scope="col">@LangResources.Fields.EmissionSource</th>
            }
            <th scope="col">@LangResources.Fields.Period</th>
            <th scope="col">@LangResources.Fields.Hours</th>

            @if (isAdmin)
            {
                <th scope="col" data-orderable="false" data-searchable="false"></th>
                <th scope="col" data-orderable="false" data-searchable="false"></th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    @if (sourceId == null)
                    {
                        <td>@sourceInfo</td>
                    }
                    <td>@months[item.Month] @item.Year</td>
                    <td>@item.Hours</td>

                    @if (isAdmin)
                    {
                        <td>
                            <a class="btn btn-outline-primary"
                               asp-controller="OperatingTimes" asp-action="Update" asp-route-id="@item.Id"
                               name="@LangResources.UpdateButtonText">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger"
                               asp-controller="OperatingTimes" asp-action="Delete" asp-route-id="@item.Id"
                               name="@LangResources.DeleteButtonText">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatable");

        var columnWidths = new Queue<string>(new[] { "30%" });
        @if (sourceId == null)
        {
            columnWidths.Enqueue("15%");
        }

        columnWidths.Enqueue("15%");
        //columnWidths.Enqueue("30%");

        if (isAdmin)
        {

            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
            columnWidths.Enqueue(Constants.DefaultEditDeleteButtonsWidth);
        }

        await Html.RenderPartialAsync("_DataTableInitialization", columnWidths);
    }
}