@using EmisTracking.Localization
@using EmisTracking.WebApp;
@{
    var isAuthenticated = ViewData[Constants.ViewDataConstants.IsAuthenticated] as bool? ?? false;
    var roleInfo = ViewData[Constants.ViewDataConstants.RoleInfo] as string;
    var userInfo = ViewData[Constants.ViewDataConstants.UserInfo] as string;
    var isAdmin = ViewData[Constants.ViewDataConstants.IsAdmin] as bool? ?? false;
    var isEngineer = ViewData[Constants.ViewDataConstants.IsEngineer] as bool? ?? false;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - @await Html.PartialAsync("_ApplicationName")</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="~/css/fonts-googleapis.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/fas-icons.css" rel="stylesheet" />
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center m-2">
                <span class="d-none d-lg-block">@await Html.PartialAsync("_ApplicationName")</span>
            </a>
        </div>

        @*
        <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Поиск" title="Введите фразу для поиска">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
        </div> *@

        <nav class="header-nav ms-auto" aria-label="nav">
            <ul class="d-flex align-items-center">
                @if (!isAuthenticated)
                {
                    <li class="nav-item pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0"
                           asp-controller="Auth" asp-action="Login">
                            <i class="fas fa-user" style="border-radius:5px"></i>
                            <span class="d-none d-md-block ps-2">Войти</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <i class="fas fa-user" style="border-radius:5px"></i>
                            @* <img src="" alt="Profile" class="rounded-circle"> *@
                            <span class="d-none d-md-block dropdown-toggle ps-2">@userInfo</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@userInfo</h6>
                                <span>@roleInfo</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-controller="Auth" asp-action="ChangePassword">
                                    <i class="bi bi-person"></i>
                                    <span>Смена пароля</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <form asp-controller="Auth" asp-action="LogOut" method="post" id="logoutForm" asp-antiforgery="true">
                                    <button class="dropdown-item d-flex align-items-center" id="logOutHeaderBtn" type="submit">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Выйти</span>
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </li>
                }
            </ul>
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                @await Html.PartialAsync("_SidebarButton", ("Index", "Home", "fas fa-home", LangResources.Titles.HomeIndex))
            </li>

            @if (isAuthenticated)
            {
                <li class="nav-heading">Объекты выбросов</li>
                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Areas", "fas fa-solid fa-vector-square", LangResources.Titles.AreasIndex))
                </li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "EmissionSources", "fas fa-solid fa-bullseye", "Источники выбросов"))
                </li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Methodologies", "fas fa-list", "Методики и параметры"))
                </li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Modes", "fas fa-solid fa-clipboard-check", "Режимы"))
                </li>

                <li class="nav-heading">Расход и удельные показатели</li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Pollutants", "fas fa-book", "Общий перечень веществ"))
                </li>
                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "ConsumptionGroups", "fas fa-list", "Расходные группы и удельные показатели"))
                </li>
                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Consumptions", "fas fa-clipboard-list", "Расход материалов"))
                </li>

                <li class="nav-heading">Расчёт и оплата налогов</li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "TaxRates", "fas fa-tag", "Ставки налога"))
                </li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Taxes", "fas fa-receipt", "Налоговые выплаты"))
                </li>


                <li class="nav-heading">Статистика</li>

                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Index", "Stats", "fa-solid fa-bottle-droplet", "Выбросы"))
                </li>
            }
            else
            {
                <li class="nav-item">
                    @await Html.PartialAsync("_SidebarButton", ("Login", "Auth", "fas fa-id-card", "Войти в аккаунт"))
                </li>
            }
            @*
            <li class="nav-item">
            @await Html.PartialAsync("_SidebarButton", ("Index", "help", "fas fa-question", "F.A.Q."))
            </li> *@
        </ul>

    </aside>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>@ViewData["Title"]</h1>
            <nav aria-label="nav breadcrumb">
                <ol class="breadcrumb">
                    @await RenderSectionAsync("Breadcrumb", required: false)
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                @*<img " class="rounded me-2" alt="...">*@
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <div class="modal fade" id="ExtralargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                @await RenderSectionAsync("Modal", required: false)
            </div>
        </div>
    </div>

    @await RenderSectionAsync("ModalScripts", required: false)

    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>@await Html.PartialAsync("_ApplicationName")</span></strong>. Все права защищены
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>